<%- include('../partials/header'); %>

<h1><%character.name%></h1>

<span><%=character.hp%>/<%=character.maxHp%>HP</span>

<pre>
    <%= JSON.stringify(character, null, 2)%>
</pre>

<%- include('../partials/footer'); %>
